# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @kaiarrowood @aanchalm01 @jillztom

# Allow Kongponents BOT to approve dependabot updates
package.json @kongponents-bot @adamdehaven @kaiarrowood @aanchalm01 @jillztom
yarn.lock @kongponents-bot @adamdehaven @kaiarrowood @aanchalm01 @jillztom

# Workflows & CI
/.github/ @adamdehaven
/lefthook.yml @adamdehaven
/netlify.toml @adamdehaven

# CLI
/cli/ @adamdehaven

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom
/cypress.config.ts @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Dev tools
/.eslintrc.js @adamdehaven
/.gitignore @adamdehaven @jillztom @kaiarrowood
/vite.config.ts @adamdehaven @jillztom
