# Workflows
/.github/ @adamdehaven

# CLI
/cli/ @adamdehaven

# Cypress
/cypress/ @adamdehaven @kaiarrowood @jillztom

# Component export config
/src/index.ts @adamdehaven @jillztom

# Dev tools
/.eslintrc.js @adamdehaven
/.gitignore @adamdehaven @jillztom @kaiarrowood
/cypress.config.ts @kaiarrowood @jillztom
/lefthook.yml @adamdehaven
/netlify.toml @adamdehaven
/vite.config.ts @adamdehaven @jillztom

* @adamdehaven @kaiarrowood @aanchalm01 @jillztom
