node_modules
.DS_Store
dist
bin
dist-ssr
*.local
bundle-analyzer

cypress/screenshots
cypress/videos

.temp
.cache
.idea
.husky

docs/.vitepress/.temp
docs/.vitepress/.cache
docs/.vitepress/cache
docs/.vitepress/dist

# Ignore files in the GitHub Pages deploy previews
pr-preview/
