node_modules
.DS_Store
dist
bin
dist-ssr
*.local
bundle-analyzer

**/.vitest-attachments/
**/__screenshots__

.temp
.cache
.idea
.husky

docs/.vitepress/.temp
docs/.vitepress/.cache
docs/.vitepress/cache
docs/.vitepress/dist

.playwright-mcp
