/*  Colors
========================================================================== */
$black-100: hsla(0, 0%, 0%, .45);
$black-200: hsla(0, 0%, 0%, .70);
$black-300: hsla(0, 0%, 0%, .85);
$black: hsla(0, 0%, 0%, 1);

$blue-000: hsla(205, 100%, 98%, 1);
$blue-100: hsla(205, 100%, 96%, 1);
$blue-200: hsla(205, 100%, 75%, 1);
$blue-300: hsla(205, 100%, 50%, 1);
$blue-400: hsla(205, 100%, 40%, 1);
$blue-500: hsla(205, 100%, 25%, 1);
$blue-600: hsla(205, 100%, 15%, 1);

$green-100: hsla(145, 50%, 95%, 1);
$green-200: hsla(145, 50%, 70%, 1);
$green-300: hsla(146, 76%, 38%, 1);
$green-400: hsla(147, 100%, 25%, 1);
$green-500: hsla(149, 100%, 18%, 1);

$yellow-100: hsla(45, 100%, 95%, 1);
$yellow-200: hsla(45, 100%, 75%, 1);
$yellow-300: hsla(45, 100%, 55%, 1);
$yellow-400: hsla(45, 30%, 25%, 1);

$red-100: hsla(1, 100%, 97%, 1);
$red-200: hsla(1, 100%, 75%, 1);
$red-300: hsla(1, 90%, 50%, 1);
$red-400: hsla(1, 90%, 38%, 1);
$red-500: hsla(1, 100%, 25%, 1);
