/**
 * Global Sandbox variables
 * Important: avoid adding global styles as Sandbox as this intended to be external interference-free environment.
 */

// viewport sizes

$viewport-sm: 640px;
$viewport-md: 768px;
$viewport-lg: 1024px; // App layout breakpoint
$viewport-xl: 1280px;
$viewport-2xl: 1536px;
