// Override predefined CSS variables of the default VuePress theme
// https://v2.vuepress.vuejs.org/reference/default-theme/styles.html#style-file

// LIGHT MODE VARIABLES
:root {
  // brand colors
  --c-brand: #1456cb; // blue-500

  // text colors
  --c-text: rgba(0, 0, 0, 0.7); // black-70

  // font vars
  --font-family: var(
    --font-family-sans,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif
  );

  // layout vars
  --sidebar-width: 14rem;
}

// DARK MODE VARIABLES
html.dark {
  // brand colors
  --c-brand: #1456cb; // blue-500
}

.code-group__li:not(:last-of-type) {
  margin-right: 5px;
}

.code-group__nav-tab {
  font-weight: 400;
  transition: color 0.3 ease-in-out;

  // Active tab
  &.code-group__nav-tab-active {
    font-weight: 700;
    border-color: #fff;
    border-bottom-width: 2px;
  }
}
