// Gloabls
body {
  font-family: var(--font-family-sans);
}

// Tables
tr, th, td {
  border: none;
}
th:not(:last-of-type),
td:not(:last-of-type) {
  border-right: 1px solid #dfe2e5;
}
tr:nth-child(2n) {
  background-color: #fff;
}
