// Gloabls
body {
  font-family: var(--font-family-sans);
}

// Tables
table {
  tr, th, td {
    border: none;
  }
  td:not(:last-of-type) {
    border-right: 1px solid #dfe2e5;
  }
  tr:nth-child(2n) {
    background-color: #fff;
  }
}
