// Override predefined CSS variables of the default VuePress theme
// https://v2.vuepress.vuejs.org/reference/default-theme/styles.html#style-file

// LIGHT MODE VARIABLES
:root {
  // brand colors
  --c-brand: #1456cb; // blue-500
  --c-brand-light: #286eea;
  --c-brand-scrollbar-thumb: #b6b6bd; // grey-400

  // text colors
  --c-text: rgba(0, 0, 0, 0.7); // black-70

  // back to top plugin
  --back-to-top-z-index: 5;
  --back-to-top-color: var(--c-brand, #1456cb);
  --back-to-top-color-hover: var(--c-brand-light, #286eea);

  // font vars
  --font-family: var(
    --font-family-sans,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif
  );

  // layout vars
  --sidebar-width: 18rem;
}

// DARK MODE VARIABLES
html.dark {
  // brand colors
  --c-brand: #3972d5; // blue-400
}

.code-group__li:not(:last-of-type) {
  margin-right: 5px;
}

.code-group__nav-tab {
  font-weight: 400;
  transition: color 0.3 ease-in-out;

  // Active tab
  &.code-group__nav-tab-active {
    font-weight: 700;
    border-color: #fff;
    border-bottom-width: 2px;
  }
}

.sidebar {
  &::-webkit-scrollbar-thumb {
    background-color: var(--c-brand-scrollbar-thumb, #b6b6bd); // grey-400
  }
}

// plugin-search
.search-box {
  @media (min-width: 959px) {
    --search-input-width: 10rem;
  }
}

// Tables
table {
  tr,
  th,
  td {
    border: none;
  }

  tr,
  tr:nth-child(2n) {
    background-color: inherit; // do not set to white because of light/dark mode
  }
}

.theme-container {
  table td code {
    white-space: nowrap;
  }

  .search-box {
    @media (min-width: 959px) {
      &:after {
        content: "/";
        align-items: center;
        background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
        border-radius: 3px;
        box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
        color: #969faf;
        display: flex;
        height: 18px;
        justify-content: center;
        margin-right: 0.4em;
        padding-top: 0;
        padding-bottom: 3px;
        position: absolute;
        top: 0.35rem;
        right: 0.5rem;
        width: 20px;
      }
    }

    input {
      font-size: 16px; // prevent zoom in Safari
    }
  }
}

/**
 * Overrides for a11y
 */
blockquote,
.page-edit .edit-link a {
  color: #7d7373 !important;
}

blockquote {
  font-weight: 300;
}

// Spinners
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

pre {
  tab-size: 2 !important;
}
