// Override predefined CSS variables of the default VuePress theme
// https://v2.vuepress.vuejs.org/reference/default-theme/styles.html#style-file
:root {
  // brand colors
  --c-brand: #1456cb; // blue-500

  // text colors
  --c-text: rgba(0, 0, 0, 0.7); // black-70

  // code blocks vars
  --code-bg-color: rgb(242, 246, 254);

  // font vars
  --font-family: var(
    --font-family-sans,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif
  );

  // layout vars
  --sidebar-width: 14rem;
}

// plugin-search
.search-box {
  @media (min-width: 959px) {
    --search-input-width: 10rem;
  }
}

@tailwind components;
@tailwind utilities;

// Tables
table {
  tr,
  th,
  td {
    border: none;
  }

  tr,
  tr:nth-child(2n) {
    background-color: #fff;
  }
}

.theme-default-content {
  code {
    color: var(--black-70);
  }

  td code {
    white-space: nowrap;
  }
}

.theme-container .search-box {
  @media (min-width: 959px) {
    &:after {
      content: "/";
      align-items: center;
      background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
      border-radius: 3px;
      box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
      color: #969faf;
      display: flex;
      height: 18px;
      justify-content: center;
      margin-right: 0.4em;
      padding-top: 2px;
      padding-bottom: 1px;
      position: absolute;
      top: 0.3rem;
      right: 0.5rem;
      width: 20px;
    }
  }

  input {
    background: none;
    padding: 0 1rem 0 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23000' fill-opacity='.45' fill-rule='evenodd' d='M6 12c-3.3137085 0-6-2.6862915-6-6s2.6862915-6 6-6 6 2.6862915 6 6c0 1.29583043-.410791 2.49571549-1.1092521 3.47653436l1.2305724 1.23057244 2.8232632 2.8338633c.3897175.3911808.3947266 1.0192147.005164 1.4087774-.3868655.3868655-1.014825.3873148-1.4087774-.005164l-2.8338633-2.8232632-1.23057244-1.2305724C8.49571549 11.589209 7.29583043 12 6 12zm4-6c0-2.209139-1.790861-4-4-4S2 3.790861 2 6s1.790861 4 4 4 4-1.790861 4-4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 10px 50%;
  }
}

@import "./prism-theme.scss";

/**
 * Overrides for a11y
 */
blockquote,
.page-edit .edit-link a {
  color: #7d7373 !important;
}

blockquote {
  font-weight: 300;
}
