@use "@/styles/mixins/inputs";
@use "@/styles/mixins/label";
@use "@/styles/mixins/input-select";
@use "@/styles/mixins/cards";
@use "@/styles/mixins/badges";
@use "@/styles/mixins/loaders";
@use "@/styles/mixins/buttons";
@use "@/styles/mixins/tables";

/* Common mixins for all components */

@mixin truncate($lines: 0) {
  // if lines is 0, truncate with ellipsis, otherwise truncate with line clamp
  @if $lines == 0 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    overflow: hidden;
  }
}
