// This file includes temporary variables that may (or may not) become design tokens in the future
// These variables are not exported by Kongponents and are only used locally

/* Animation timing */

$tmp-animation-timing-2: 0.2s;

/* Colors */

$tmp-color-white: #ffffff;

$tmp-color-green-100: #e8f8f5;
$tmp-color-green-200: #c0f2d5;
$tmp-color-green-300: #84e5ae;
$tmp-color-green-400: #42d782;
$tmp-color-green-500: #07a88d;
$tmp-color-green-600: #008871;
$tmp-color-green-700: #13755e;

$tmp-color-yellow-100: #fff3d8;
$tmp-color-yellow-200: #ffe6ba;
$tmp-color-yellow-300: #ffd68c;
$tmp-color-yellow-400: #fabe5f;
$tmp-color-yellow-500: #c67c06;
$tmp-color-yellow-600: #a05604;

$tmp-color-steel-300: #a3b6d9;

$tmp-color-blue-200: #bdd3f9;
$tmp-color-blue-300: #8ab3fa;
$tmp-color-aqua-50: #00abd2;

$tmp-color-teal-100: #cdf1fe;
$tmp-color-teal-200: #91e1fc;

// Opaque colors
$tmp-color-black-5: rgba(0, 0, 0, 0.05);
$tmp-color-black-10: rgba(0, 0, 0, 0.1);
$tmp-color-black-45: rgba(0, 0, 0, 0.45);
$tmp-color-black-60: rgba(0, 0, 0, 0.6);

// Borders
$tmp-color-gray-weaker: #e0e4ea; // color-border-neutral-weaker

// Shadows & backdrops
$tmp-color-shadow: 0px 0.2px 0.6px rgba(0, 0, 0, 0.031), 0px 0.6px 1.8px rgba(0, 0, 0, 0.045),
  0px 1.5px 4.2px rgba(0, 0, 0, 0.059), 0px 5px 14px rgba(0, 0, 0, 0.09);
$tmp-color-backdrop: rgba(11, 23, 45, 0.6);

/* Spacing */

$tmp-border-spacing-0: 0px;
$tmp-border-spacing-2: 2px;

$tmp-spacing-120: 120px;

/* Border width */

$tmp-border-width-10: 10px;
