@import "vars";

/* 
Kongponents Transitions 

Styles for transitions using Vue native <Transition> component.
You don't need to import this file directly, it is imported by styles.scss, therefore it is included in the build.

All transitions names must follow `kongponents-<name>-transition` pattern to avoid any conflicts with styles defined by the consuming apps.
*/

.kongponents-fade-transition-enter-active,
.kongponents-fade-transition-leave-active {
  transition: opacity $kongponentsTransitionDurTimingFunc;
}

.kongponents-fade-transition-enter-from,
.kongponents-fade-transition-leave-to {
  opacity: 0;
}

// slide up transition/animation

@keyframes kongponents-slide-up-animation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.kongponents-slide-up-transition-enter-active {
  animation: kongponents-slide-up-animation $kongponentsTransitionDurTimingFunc;
}

.kongponents-slide-up-transition-leave-active {
  animation: kongponents-slide-up-animation $kongponentsTransitionDurTimingFunc reverse;
}
