/*
Shared SCSS variables that are used in Kongponents styles but are not exported.
Each must start with `$kongponents` prefix to avoid conflicts with other libraries.
*/

// icon selector exported by @kong/icons library
// usage: :deep(#{$kongponentsKongIconSelector}) { ... }
$kongponentsKongIconSelector: ".kui-icon";

// transition duration and transition timing function
$kongponentsTransitionDurTimingFunc: var(--kui-animation-duration-20, $kui-animation-duration-20) ease-in-out;

// KCopy tooltip selector
// when KCopy is truncated, it's wrapped by a tooltip which automatically adds a attribute that applies unwanted styles
// so we need this selector to exclude those styles (check KBadge component)
$kongponentsKCopyTooltipWrapperSelector: ".copy-tooltip-wrapper";

// KInput base height
// used when we need to match the height of other elements to the height of KInput
$kongponentsInputElementHeight: 40px;
