/*! KONGPONENTS_STYLES */
// Do not remove the comment above - allows other apps to identify the style block

@import "transitions";

:root {
  body {
    // font weight
    font-weight: var(--kui-font-weight-regular, $kui-font-weight-regular);
  }
}
