.form-group {
  $borderColor: var(--KInputBorder, var(--grey-300, #e7e7ec));
  display: block;
  margin-bottom: 24px;
  width: 100%;

  hr {
    border-color: $borderColor;
    margin: 32px 0;
  }
}

.k-input + .help,
.k-input-wrapper + .help {
  color: var(--black-45, rgba(0, 0, 0, 0.45));
  display: block;
  font-size: var(--type-sm, var(--kui-font-size-30, $kui-font-size-30));
  margin: var(--spacing-xs, var(--kui-space-40, $kui-space-40)) var(--kui-space-0, $kui-space-0)
    var(--kui-space-0, $kui-space-0);
}
