// some properties in this file are using kui design tokens because Kongponent styles are relying on matching values
.k-input-label {
  color: var(--KInputLabelColor, var(--black-85));
  display: inline-flex;
  font-family: var(--KInputLabelFont, var(--font-family-sans, font(sans)));
  font-size: var(--KInputLabelSize, var(--type-sm, var(--kui-font-size-30, $kui-font-size-30)));
  font-weight: var(--KInputLabelWeight, 600);
  line-height: var(--KInputLabelLineHeight, var(--type-lg, var(--kui-line-height-30, $kui-line-height-30)));
  margin-bottom: var(--KInputLabelMargin, var(--spacing-xs, var(--kui-space-40, $kui-space-40)));

  .is-required {
    color: var(--KLabelRequiredAsteriskColor, var(--KInputLabelColor));
    font-size: var(--KInputLabelSize, var(--type-sm, 14px));
    font-weight: var(--KInputLabelWeight, 600);
    margin-left: var(--spacing-xxs);
  }

  .label-tooltip {
    align-items: center;
    display: flex;
  }

  .kong-icon {
    margin-left: var(--spacing-xxs);
  }
}

.k-inputCheckbox,
.k-inputRadio {
  &.k-input-label {
    color: var(--KInputCheckboxLabel, var(--black-70, rgba(0, 0, 0, 0.7)));
    font-family: var(--KInputCheckboxLabelFont, var(--font-family-sans, font(sans)));
    font-size: var(--KInputCheckboxLabelSize, var(--type-md, 16px));
    font-weight: normal;
    margin-bottom: 0;
  }
}
