.k-input-label {
  color: var(--KInputLabelColor, var(--black-85));
  display: inline-block;
  font-family: var(--KInputLabelFont, var(--font-family-sans, font(sans)));
  font-size: var(--KInputLabelSize, var(--type-sm, type(sm)));
  font-weight: var(--KInputLabelWeight, 600);
  line-height: var(--KInputLabelLineHeight, var(--type-lg, type(lg)));
  margin-bottom: var(--KInputLabelMargin, var(--spacing-xs, spacing(xs)));

  .label-tooltip {
    align-items: center;
    display: flex;
  }

  .kong-icon {
    margin-left: var(--spacing-xxs);
  }
}

.k-inputCheckbox,
.k-inputRadio {
  &.k-input-label {
    color: var(--KInputCheckboxLabel, var(--black-70, color(black-70)));
    font-family: var(--KInputCheckboxLabelFont, var(--font-family-sans, font(sans)));
    font-size: var(--KInputCheckboxLabelSize, var(--type-md, type(md)));
    font-weight: normal;
    margin-bottom: 0;
  }
}
