// For division
@use "sass:math";

$width: 44px;
$height: 24px;
$color_checkbox_success: var(--KInputSwitchOn, var(--green-500, color(green-500)));
$transition: 0.2s linear;

.k-switch {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  &.switch-with-icon .switch-control {
    width: 48px;
  }
  &.switch-with-icon .kong-icon {
    height: 20px;
    left: 57px;
    width: 22px;
  }
  &.switch-with-icon input:checked + .switch-control:after {
    left: 26px;
  }
  .switch-control {
    background-color: var(--KInputSwitchBackground, var(--grey-400, color(grey-400)));
    border-radius: 12px;
    display: block;
    height: $height;
    margin-right: 16px;
    position: relative;
    transition: $transition;
    width: $width;

    &.has-label-left {
      margin-left: 16px;
      margin-right: 0;
    }

    // Toggle
    &:after {
      background-color: var(--white, color(white));
      border-radius: 50%;
      content: "";
      display: block;
      height: 20px;
      left: 2px;
      position: absolute;
      top: 2px;
      transition: $transition;
      width: 20px;
    }
  }

  &[disabled]:not(:disabled) {
    cursor: not-allowed;
    .switch-control,
    input {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  // Hide default checkbox
  input {
    display: none;
    &:checked + .switch-control {
      background-color: $color_checkbox_success;
      &:after {
        left: math.div($width, 2);
      }
    }
  }

  span {
    color: var(--KInputSwitchLabel, var(--black-70, color(black-70)));
  }
}
