@import "variables";

/* Regular (Sans) Font Sizes
========================================================================== */
// For each size in the $type-sizes variable
// Create class (.type-xxl)
@each $name, $size in $type-sizes {
  .type-#{$name} {
    font-size: var(--type-#{$name});
    font-weight: normal;
  }
}

/* Mono Font Sizes
========================================================================== */
.mono {
  font-family: var(--font-family-mono);
}
// For each size in the $type-sizes variable
// Create class (.mono.xxl)
@each $name, $size in $type-sizes {
  .mono.type-#{$name} {
    font-size: calc(var(--type-#{$name}) * .95);
  }
}

/*  Colors
========================================================================== */
// For each color in $colors variable
// Create class (.color-blue-base)
@each $name, $color in $colors {
  .color-#{$name} {
    color: var(--#{$name})
  }
}
