/* Maison Neue */


@font-face {
  font-family: 'Maison Neue';
  src: url("./assets/fonts/MaisonNeue/Demi/MaisonNeue-Demi.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("./assets/fonts/MaisonNeue/DemiItalic/MaisonNeue-DemiItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("./assets/fonts/MaisonNeue/Light/MaisonNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("./assets/fonts/MaisonNeue/LightItalic/MaisonNeue-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("./assets/fonts/MaisonNeue/Book/MaisonNeue-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("./assets/fonts/MaisonNeue/BookItalic/MaisonNeue-BookItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("./assets/fonts/MaisonNeue/Medium/MaisonNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("/assets/fonts/MaisonNeue/MediumItalic/MaisonNeue-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("./assets/fonts/MaisonNeue/Mono/MaisonNeue-Mono.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("/assets/fonts/MaisonNeue/MonoItalic/MaisonNeue-MonoItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("./assets/fonts/MaisonNeue/Bold/MaisonNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url("./assets/fonts/MaisonNeue/BoldItalic/MaisonNeue-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
