/* Regular (Sans) Font Sizes
========================================================================== */
.xxxl {
  font-size: var(--type-xxxl);
  font-weight: normal; }

.xxl {
  font-size: var(--type-xxl);
  font-weight: normal; }

.xl {
  font-size: var(--type-xl);
  font-weight: normal; }

.lg {
  font-size: var(--type-lg);
  font-weight: normal; }

.md {
  font-size: var(--type-md);
  font-weight: normal; }

.sm {
  font-size: var(--type-sm);
  font-weight: normal; }

.xs {
  font-size: var(--type-xs);
  font-weight: normal; }

/* Mono Font Sizes
========================================================================== */
.mono {
  font-family: var(--font-family-mono); }

.mono.xxxl {
  font-size: calc(var(--type-xxxl) * .95); }

.mono.xxl {
  font-size: calc(var(--type-xxl) * .95); }

.mono.xl {
  font-size: calc(var(--type-xl) * .95); }

.mono.lg {
  font-size: calc(var(--type-lg) * .95); }

.mono.md {
  font-size: calc(var(--type-md) * .95); }

.mono.sm {
  font-size: calc(var(--type-sm) * .95); }

.mono.xs {
  font-size: calc(var(--type-xs) * .95); }

/*  Spacing
========================================================================== */
.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.mx-0 {
  margin-left: 0px;
  margin-right: 0px; }

.my-0 {
  margin-left: 0px;
  margin-right: 0px; }

.px-auto {
  padding-left: auto;
  padding-right: auto; }

.py-auto {
  padding-top: auto;
  padding-bottom: auto; }

.px-0 {
  padding-left: 0px;
  padding-right: 0px; }

.py-0 {
  padding-left: 0px;
  padding-right: 0px; }

.mt-auto {
  margin-top: auto; }

.mt-0 {
  margin-top: 0px; }

.mr-auto {
  margin-right: auto; }

.mr-0 {
  margin-right: 0px; }

.mb-auto {
  margin-bottom: auto; }

.mb-0 {
  margin-bottom: 0px; }

.ml-auto {
  margin-left: auto; }

.ml-0 {
  margin-left: 0px; }

.mt-1 {
  margin-top: 4px; }

.mr-1 {
  margin-right: 4px; }

.mb-1 {
  margin-bottom: 4px; }

.ml-1 {
  margin-left: 4px; }

.mx-1 {
  margin-left: 4px;
  margin-right: 4px; }

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px; }

.mt-2 {
  margin-top: 8px; }

.mr-2 {
  margin-right: 8px; }

.mb-2 {
  margin-bottom: 8px; }

.ml-2 {
  margin-left: 8px; }

.mx-2 {
  margin-left: 8px;
  margin-right: 8px; }

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px; }

.mt-3 {
  margin-top: 12px; }

.mr-3 {
  margin-right: 12px; }

.mb-3 {
  margin-bottom: 12px; }

.ml-3 {
  margin-left: 12px; }

.mx-3 {
  margin-left: 12px;
  margin-right: 12px; }

.my-3 {
  margin-top: 12px;
  margin-bottom: 12px; }

.mt-4 {
  margin-top: 16px; }

.mr-4 {
  margin-right: 16px; }

.mb-4 {
  margin-bottom: 16px; }

.ml-4 {
  margin-left: 16px; }

.mx-4 {
  margin-left: 16px;
  margin-right: 16px; }

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px; }

.mt-5 {
  margin-top: 24px; }

.mr-5 {
  margin-right: 24px; }

.mb-5 {
  margin-bottom: 24px; }

.ml-5 {
  margin-left: 24px; }

.mx-5 {
  margin-left: 24px;
  margin-right: 24px; }

.my-5 {
  margin-top: 24px;
  margin-bottom: 24px; }

.mt-6 {
  margin-top: 32px; }

.mr-6 {
  margin-right: 32px; }

.mb-6 {
  margin-bottom: 32px; }

.ml-6 {
  margin-left: 32px; }

.mx-6 {
  margin-left: 32px;
  margin-right: 32px; }

.my-6 {
  margin-top: 32px;
  margin-bottom: 32px; }

.mt-7 {
  margin-top: 48px; }

.mr-7 {
  margin-right: 48px; }

.mb-7 {
  margin-bottom: 48px; }

.ml-7 {
  margin-left: 48px; }

.mx-7 {
  margin-left: 48px;
  margin-right: 48px; }

.my-7 {
  margin-top: 48px;
  margin-bottom: 48px; }

.pt-0 {
  padding-top: 0px; }

.pr-0 {
  padding-right: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.pl-0 {
  padding-left: 0px; }

.pt-1 {
  padding-top: 4px; }

.pr-1 {
  padding-right: 4px; }

.pb-1 {
  padding-bottom: 4px; }

.pl-1 {
  padding-left: 4px; }

.px-1 {
  padding-left: 4px;
  padding-right: 4px; }

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px; }

.pt-2 {
  padding-top: 8px; }

.pr-2 {
  padding-right: 8px; }

.pb-2 {
  padding-bottom: 8px; }

.pl-2 {
  padding-left: 8px; }

.px-2 {
  padding-left: 8px;
  padding-right: 8px; }

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px; }

.pt-3 {
  padding-top: 12px; }

.pr-3 {
  padding-right: 12px; }

.pb-3 {
  padding-bottom: 12px; }

.pl-3 {
  padding-left: 12px; }

.px-3 {
  padding-left: 12px;
  padding-right: 12px; }

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px; }

.pt-4 {
  padding-top: 16px; }

.pr-4 {
  padding-right: 16px; }

.pb-4 {
  padding-bottom: 16px; }

.pl-4 {
  padding-left: 16px; }

.px-4 {
  padding-left: 16px;
  padding-right: 16px; }

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px; }

.pt-5 {
  padding-top: 24px; }

.pr-5 {
  padding-right: 24px; }

.pb-5 {
  padding-bottom: 24px; }

.pl-5 {
  padding-left: 24px; }

.px-5 {
  padding-left: 24px;
  padding-right: 24px; }

.py-5 {
  padding-top: 24px;
  padding-bottom: 24px; }

.pt-6 {
  padding-top: 32px; }

.pr-6 {
  padding-right: 32px; }

.pb-6 {
  padding-bottom: 32px; }

.pl-6 {
  padding-left: 32px; }

.px-6 {
  padding-left: 32px;
  padding-right: 32px; }

.py-6 {
  padding-top: 32px;
  padding-bottom: 32px; }

.pt-7 {
  padding-top: 48px; }

.pr-7 {
  padding-right: 48px; }

.pb-7 {
  padding-bottom: 48px; }

.pl-7 {
  padding-left: 48px; }

.px-7 {
  padding-left: 48px;
  padding-right: 48px; }

.py-7 {
  padding-top: 48px;
  padding-bottom: 48px; }

/*  Text Utils
========================================================================== */
.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.cursor-pointer {
  cursor: pointer; }

/*  Display Utils
========================================================================== */
.d-none {
  display: none; }

.d-flex {
  display: flex; }

.overflow-hidden {
  overflow: hidden; }

.w-100 {
  width: 100%; }

.form-group {
  display: block;
  width: 100%;
  margin-bottom: var(--lg, 24px); }
  .form-group hr {
    border-color: var(--KInputBorder, var(--grey-88, ));
    margin: var(--xl, 32px) 0; }

.k-input + .help {
  display: block;
  margin: var(--spacing-xs, 8px) 0 0;
  font-size: var(--type-sm, 14px);
  color: var(--tblack-45, rgba(0, 0, 0, 0.45)); }

.k-input-label {
  display: inline-block;
  color: var(--KInputLabelColor, var(--tblack-85));
  font-weight: var(--KInputLabelWeight, 500);
  font-family: var(--KInputLabelFont, var(--font-family-sans, "Roboto"));
  font-size: var(--KInputLabelSize, var(--type-sm, 14px));
  line-height: var(--KInputLabelLineHeight, var(--type-lg, 18px));
  margin-bottom: var(--KInputLabelMargin, var(--spacing-xs, 8px)); }

.k-inputCheckbox.k-input-label,
.k-inputRadio.k-input-label {
  color: var(--KInputCheckboxLabel, var(--tblack-70, rgba(0, 0, 0, 0.7)));
  font-size: var(--KInputCheckboxLabelSize, var(--type-md, 16px));
  font-weight: normal;
  font-family: var(--KInputCheckboxLabelFont, var(--font-family-sans, "Roboto"));
  margin-bottom: 0; }

.k-input-label {
  display: inline-block;
  color: var(--KInputLabelColor, var(--tblack-85));
  font-weight: var(--KInputLabelWeight, 500);
  font-family: var(--KInputLabelFont, var(--font-family-sans, "Roboto"));
  font-size: var(--KInputLabelSize, var(--type-sm, 14px));
  line-height: var(--KInputLabelLineHeight, var(--type-lg, 18px));
  margin-bottom: var(--KInputLabelMargin, var(--spacing-xs, 8px)); }

.k-inputCheckbox.k-input-label,
.k-inputRadio.k-input-label {
  color: var(--KInputCheckboxLabel, var(--tblack-70, rgba(0, 0, 0, 0.7)));
  font-size: var(--KInputCheckboxLabelSize, var(--type-md, 16px));
  font-weight: normal;
  font-family: var(--KInputCheckboxLabelFont, var(--font-family-sans, "Roboto"));
  margin-bottom: 0; }

.k-input:not([type="checkbox"]), .k-input:not([type="radio"]),
.form-control:not([type="checkbox"]),
.form-control:not([type="radio"]) {
  display: block;
  padding: var(--spacing-xs, 8px) var(--spacing-sm, 12px);
  color: var(--KInputColor, var(--tblack-70, rgba(0, 0, 0, 0.7)));
  font-size: var(--type-md, 16px);
  font-weight: normal;
  line-height: 1.25;
  border: 1px solid var(--KInputBorder, var(--grey-88, #e0e0e0));
  border-radius: 3px;
  background-color: var(--KInputBackground, var(--twhite-1, white));
  box-sizing: border-box;
  /* Browser Overrides */ }
  .k-input:not([type="checkbox"]):focus, .k-input:not([type="radio"]):focus,
  .form-control:not([type="checkbox"]):focus,
  .form-control:not([type="radio"]):focus {
    outline: none !important;
    border: 1px solid var(--KInputFocus, var(--blue-light, #70c4ff)); }
  .k-input:not([type="checkbox"]):disabled, .k-input:not([type="radio"]):disabled,
  .form-control:not([type="checkbox"]):disabled,
  .form-control:not([type="radio"]):disabled {
    cursor: not-allowed;
    font-style: italic;
    background-color: var(--KInputDisabledBackground, var(--grey-98, #fafafa));
    opacity: 0.5; }
  .k-input:not([type="checkbox"]):invalid, .k-input:not([type="checkbox"]).input-error, .k-input:not([type="radio"]):invalid, .k-input:not([type="radio"]).input-error,
  .form-control:not([type="checkbox"]):invalid,
  .form-control:not([type="checkbox"]).input-error,
  .form-control:not([type="radio"]):invalid,
  .form-control:not([type="radio"]).input-error {
    outline: none !important;
    border: 1px solid var(--KInputError, var(--red-light, #f47171)); }
  .k-input:not([type="checkbox"]):invalid, .k-input:not([type="checkbox"]):-moz-submit-invalid, .k-input:not([type="checkbox"]):-moz-ui-invalid, .k-input:not([type="radio"]):invalid, .k-input:not([type="radio"]):-moz-submit-invalid, .k-input:not([type="radio"]):-moz-ui-invalid,
  .form-control:not([type="checkbox"]):invalid,
  .form-control:not([type="checkbox"]):-moz-submit-invalid,
  .form-control:not([type="checkbox"]):-moz-ui-invalid,
  .form-control:not([type="radio"]):invalid,
  .form-control:not([type="radio"]):-moz-submit-invalid,
  .form-control:not([type="radio"]):-moz-ui-invalid {
    box-shadow: none; }
  .k-input:not([type="checkbox"])::placeholder, .k-input:not([type="radio"])::placeholder,
  .form-control:not([type="checkbox"])::placeholder,
  .form-control:not([type="radio"])::placeholder {
    color: var(--tblack-45, rgba(0, 0, 0, 0.45));
    font-weight: normal;
    opacity: 1; }
  .k-input:not([type="checkbox"])::-ms-clear, .k-input:not([type="radio"])::-ms-clear,
  .form-control:not([type="checkbox"])::-ms-clear,
  .form-control:not([type="radio"])::-ms-clear {
    display: none; }

.k-input[type="search"],
.form-control[type="search"] {
  padding-left: 36px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23000' fill-opacity='.45' fill-rule='evenodd' d='M6 12c-3.3137085 0-6-2.6862915-6-6s2.6862915-6 6-6 6 2.6862915 6 6c0 1.29583043-.410791 2.49571549-1.1092521 3.47653436l1.2305724 1.23057244 2.8232632 2.8338633c.3897175.3911808.3947266 1.0192147.005164 1.4087774-.3868655.3868655-1.014825.3873148-1.4087774-.005164l-2.8338633-2.8232632-1.23057244-1.2305724C8.49571549 11.589209 7.29583043 12 6 12zm4-6c0-2.209139-1.790861-4-4-4S2 3.790861 2 6s1.790861 4 4 4 4-1.790861 4-4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 12px 50%; }

.k-input-label {
  display: inline-block;
  color: var(--KInputLabelColor, var(--tblack-85));
  font-weight: var(--KInputLabelWeight, 500);
  font-family: var(--KInputLabelFont, var(--font-family-sans, "Roboto"));
  font-size: var(--KInputLabelSize, var(--type-sm, 14px));
  line-height: var(--KInputLabelLineHeight, var(--type-lg, 18px));
  margin-bottom: var(--KInputLabelMargin, var(--spacing-xs, 8px)); }

.k-inputCheckbox.k-input-label,
.k-inputRadio.k-input-label {
  color: var(--KInputCheckboxLabel, var(--tblack-70, rgba(0, 0, 0, 0.7)));
  font-size: var(--KInputCheckboxLabelSize, var(--type-md, 16px));
  font-weight: normal;
  font-family: var(--KInputCheckboxLabelFont, var(--font-family-sans, "Roboto"));
  margin-bottom: 0; }

input.k-input[type="checkbox"], input.k-input[type="radio"],
input.form-control[type="checkbox"],
input.form-control[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border: 1px solid var(--KInputBorder, var(--grey-88, #e0e0e0));
  background-color: #fff;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-print-color-adjust: exact; }
  input.k-input[type="checkbox"]:disabled, input.k-input[type="radio"]:disabled,
  input.form-control[type="checkbox"]:disabled,
  input.form-control[type="radio"]:disabled {
    opacity: 1; }
    input.k-input[type="checkbox"]:disabled:hover, input.k-input[type="radio"]:disabled:hover,
    input.form-control[type="checkbox"]:disabled:hover,
    input.form-control[type="radio"]:disabled:hover {
      border-color: var(--KInputBorder, var(--grey-88, #e0e0e0)); }

input.k-input[type="checkbox"],
input.form-control[type="checkbox"] {
  height: 20px;
  width: 20px;
  color: var(--KInputCheckboxPrimary, var(--blue-base, #0089eb));
  border-radius: 3px; }
  input.k-input[type="checkbox"]:checked,
  input.form-control[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.633 0L12 1.397 3.583 10 0 6.337 1.367 4.94l2.216 2.265z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
    border-color: transparent;
    background-color: currentColor;
    background-position: center;
    background-repeat: no-repeat; }
  input.k-input[type="checkbox"]:checked::-ms-check,
  input.form-control[type="checkbox"]:checked::-ms-check {
    color: #fff;
    border: 1px solid var(--KInputCheckboxPrimary, var(--blue-base, #0089eb));
    background-color: var(--KInputCheckboxPrimary, var(--blue-base, #0089eb)); }
  input.k-input[type="checkbox"]:hover,
  input.form-control[type="checkbox"]:hover {
    border-color: var(--KInputCheckboxPrimary, var(--blue-base, #0089eb)); }
  input.k-input[type="checkbox"]:focus,
  input.form-control[type="checkbox"]:focus {
    outline: none;
    border-color: var(--KInputCheckboxPrimary, var(--blue-base, #0089eb)); }
  input.k-input[type="checkbox"]:disabled,
  input.form-control[type="checkbox"]:disabled {
    background-color: var(--KInputCheckboxDisabled, var(--grey-92, #ebebeb)); }

input.k-input[type="radio"],
input.form-control[type="radio"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  color: var(--KInputRadioPrimary, var(--blue-base, #0089eb));
  border-radius: 100%; }
  input.k-input[type="radio"]:checked,
  input.form-control[type="radio"]:checked {
    border-color: currentColor;
    background-color: #fff;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat; }
    input.k-input[type="radio"]:checked:after,
    input.form-control[type="radio"]:checked:after {
      content: "";
      display: flex;
      height: 10px;
      width: 10px;
      background-color: currentColor;
      border-radius: 100%; }
  input.k-input[type="radio"]:checked::-ms-check,
  input.form-control[type="radio"]:checked::-ms-check {
    border: 1px solid currentColor;
    color: currentColor; }
  input.k-input[type="radio"]:disabled,
  input.form-control[type="radio"]:disabled {
    background-color: var(--KInputRadioDisabled, var(--grey-92, #ebebeb)); }

.k-switch {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .k-switch .switch-control {
    position: relative;
    display: block;
    width: 44px;
    height: 24px;
    margin-right: 1rem;
    border-radius: 12px;
    background-color: var(--KInputSwitchBackground, #ebebeb);
    transition: 0.2s linear; }
    .k-switch .switch-control:after {
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--twhite-1, white);
      content: '';
      transition: 0.2s linear; }
    .k-switch .switch-control:before {
      display: block;
      width: 20px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      content: '';
      transition: 0.2s linear; }
  .k-switch input {
    display: none; }
    .k-switch input:checked + .switch-control {
      background-color: var(--KInputSwitchOn, var(--primary, #0089eb)); }
      .k-switch input:checked + .switch-control:after {
        left: 22px; }
  .k-switch span {
    color: var(--KInputSwitchLabel, var(--tblack-70, rgba(0, 0, 0, 0.7))); }

:root {
  --blue-lightest: #f0f9ff;
  --blue-lighter: #e6f4ff;
  --blue-light-01: #a3d9ff;
  --blue-light: #70c4ff;
  --blue-base: #0089eb;
  --blue-link: #1782cf;
  --blue-dark: #0f578a;
  --red-lightest: #fff5f5;
  --red-lighter: #ffe6e6;
  --red-light-01: #faa8a8;
  --red-light: #f47171;
  --red-base: #e61a1a;
  --red-link: #cf1717;
  --red-dark: #b30000;
  --green-lighter: #e9f7ef;
  --green-light-01: #bce6ce;
  --green-light: #90d5ad;
  --green-base: #3fa66a;
  --green-dark: #318153;
  --yellow-lighter: #fff7e6;
  --yellow-light: #ffe8a3;
  --yellow-base: #ffd966;
  --yellow-darker: #806000;
  --tblack-85: rgba(0, 0, 0, 0.85);
  --tblack-70: rgba(0, 0, 0, 0.7);
  --tblack-45: rgba(0, 0, 0, 0.45);
  --tblack-25: rgba(0, 0, 0, 0.25);
  --tblack-10: rgba(0, 0, 0, 0.1);
  --grey-98: #fafafa;
  --grey-92: #ebebeb;
  --grey-88: #e0e0e0;
  --grey-84: #d6d6d6;
  --twhite-75: rgba(255, 255, 255, 0.75);
  --twhite-50: rgba(255, 255, 255, 0.5);
  --twhite-1: white;
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --type-xxxl: 32px;
  --type-xxl: 28px;
  --type-xl: 22px;
  --type-lg: 18px;
  --type-md: 16px;
  --type-sm: 14px;
  --type-xs: 12px;
  --font-family-sans: Roboto;
  --font-family-mono: Roboto Mono; }
