// Theme overrides; all should be nested inside of the `.vp-doc` class
.vp-doc {
  /* stylelint-disable-next-line custom-property-pattern */
  --vp-custom-block-info-border: #003694;
  /* stylelint-disable-next-line custom-property-pattern */
  --vp-custom-block-info-text: var(--kui-color-text-primary, #{$kui-color-text-primary});
  /* stylelint-disable-next-line custom-property-pattern */
  --vp-custom-block-info-bg: #f2f6fe;

  .kong-card li + li {
    margin-top: $kui-space-0;
  }

  table {
    display: table;
    margin: $kui-space-0;

    th {
      background: none;
    }
  }

  h4 {
    margin-top: $kui-space-60;
  }

  li + li {
    margin-top: $kui-space-0;
  }

  .k-tabs {
    li {
      a {
        text-decoration: none;
        transition: none;
      }
    }
  }
}
