// Theme overrides; all should be nested inside of the `.vp-doc` class
.vp-doc {
  --vp-custom-block-info-border: var(--blue-600, #003694);
  --vp-custom-block-info-text: var(--blue-500, #1155cb);
  --vp-custom-block-info-bg: var(--blue-100, #f2f6fe);

  .kong-card li + li {
    margin-top: 0;
  }

  table {
    display: table;
    margin: 0;

    th {
      background: none;
    }
  }

  h4 {
    margin-top: 16px;
  }

  li + li {
    margin-top: 0;
  }

  .k-tabs {
    li {
      a {
        text-decoration: none;
        transition: none;
      }
    }
  }
}
