// Override predefined CSS variables of the default VitePress theme
// https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css

:root {
  --vp-button-brand-bg: #{$kui-color-background-primary};
  --vp-button-brand-hover-bg: #{$kui-color-background-primary-strong};

  // Homepage site name color
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #169fcc, #42d782);

  // Code block
  --vp-code-block-bg: #{$kui-color-background-neutral-strongest};
  --vp-code-line-number-color: #{$kui-color-text-neutral};
  --vp-code-block-divider-color: #{$kui-color-background-neutral-stronger};
  // copy button
  --vp-code-copy-code-border-color: rgba(128, 128, 128, 1); // grey to match default icon color
  --vp-code-copy-code-bg: #{$kui-color-background-neutral-stronger};
  --vp-code-copy-code-hover-border-color: rgba(128, 128, 128, 1); // grey to match default icon color
  --vp-code-copy-code-hover-bg: #{$kui-color-background-neutral-stronger};
  --vp-code-copy-code-active-text: rgba(128, 128, 128, 1); // grey to match default icon color
}
