// Override predefined CSS variables of the default VitePress theme
// https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css

:root {
  --vp-c-brand: #1155cb;
  --vp-c-brand-light: #3972d5;
  --vp-c-brand-lighter: #8ab3fa;
  --vp-c-brand-dark: #003694;
  --vp-c-brand-darker: #0a2b66;
  // Homepage site name color
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #169fcc, #42d782);
}
