// Override predefined CSS variables of the default VuePress theme
// https://v2.vuepress.vuejs.org/reference/default-theme/styles.html#style-file

// LIGHT MODE VARIABLES
:root {
  // brand colors
  --vp-c-brand: #1456cb; // blue-500
  --vp-c-brand-light: #286eea;
  --vp-c-brand-scrollbar-thumb: #b6b6bd; // grey-400

  // text colors
  --vp-c-text: rgba(0, 0, 0, 0.7); // black-70

  // layout vars
  // --vp-sidebar-width: 18rem;
}

.custom-block.tip {
  border-color: var(--vp-c-brand-light);
}

// DARK MODE VARIABLES
html.dark {
  // brand colors
  --vp-c-brand: #3972d5; // blue-400
}

.VPSidebar {
  &::-webkit-scrollbar-thumb {
    background-color: var(--vp-c-brand-scrollbar-thumb, #b6b6bd); // grey-400
  }
}

.VPContent {
  // Tables
  table {
    tr,
    th,
    td {
      border: none;
    }

    tr,
    tr:nth-child(2n) {
      background-color: inherit; // do not set to white because of light/dark mode
    }
  }

  table td code {
    white-space: nowrap;
  }

  /**
  * Overrides for a11y
  */
  blockquote,
  .page-edit .edit-link a {
    color: #7d7373 !important;
  }

  blockquote {
    font-weight: 300;
  }

  // Spinners
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1turn);
    }
  }

  pre {
    tab-size: 2 !important;
  }
}
