// Import predefined CSS variable overrides of the default VitePress theme
// https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
@use "./variables";
@use "./overrides";

html,
body {
  font-family: var(--kui-font-family-text, #{$kui-font-family-text});
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--kui-font-family-heading, var(--kui-font-family-text, #{$kui-font-family-text}));
}

pre.json {
  background-color: var(--kui-color-background-neutral-weaker, $kui-color-background-neutral-weaker);
  border-radius: var(--kui-border-radius-40, $kui-border-radius-40);
  font-size: var(--kui-font-size-30, $kui-font-size-30);
  padding: var(--kui-space-60, $kui-space-60);
  white-space: pre-wrap;
}

.vp-code.material-theme-palenight {
  color-scheme: dark;
}

.VPContent {
  // Tables
  table {
    tr,
    th,
    td {
      border: none;
    }

    tr,
    tr:nth-child(2n) {
      background-color: inherit; // do not set to white because of light/dark mode
    }
  }

  table td code {
    white-space: nowrap;
  }

  /**
  * Overrides for a11y
  */
  blockquote,
  .page-edit .edit-link a {
    color: #7d7373 !important;
  }

  blockquote {
    font-weight: 300;
  }

  // Spinners
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(1turn);
    }
  }

  pre {
    tab-size: 2 !important;
  }

  .VPDoc.has-aside .content-container {
    max-width: 768px; // Need to ensure the KStepper is rendered nicely on larger screens (the label in the steps is hidden below 768px)
  }
}
