.form-group {
  $borderColor: var(--KInputBorder, var(--grey-300, color(grey--grey-300)));
  display: block;
  width: 100%;
  margin-bottom: var(--lg, spacing(lg));

  hr {
    border-color: $borderColor;
    margin: var(--xl, spacing(xl)) 0;
  }
}

.k-input + .help,
.k-input-wrapper + .help {
  display: block;
  margin: var(--spacing-xs, spacing(xs)) 0 0;
  font-size: var(--type-sm, type(sm));
  color: var(--black-45, color(black-45));
}
