$width: 44px;
$height: 24px;
$color_checkbox_success: var(--KInputSwitchOn, var(--blue-500, color(blue-500)));
$transition: .2s linear;

.k-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  .switch-control {
    position: relative;
    display: block;
    width: $width;
    height: $height;
    margin-right: 1rem;
    border-radius: 12px;
    background-color: var(--KInputSwitchBackground, var(--grey-92, color(grey-92)));
    transition: $transition;
    // Toggle
    &:after {
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--white, color(white));
      content: '';
      transition: $transition;
    }
    // Check mark
    &:before {
      display: block;
      width: 20px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      content: '';
      transition: $transition;
    }
  }

  // Hide default checkbox
  input {
    display: none;
    &:checked + .switch-control {
      background-color: $color_checkbox_success;
      &:after {
        left: $width / 2;
      }
    }
  }

  span {
    color: var(--KInputSwitchLabel, var(--black-70, color(black-70)));
  }
}
