$width: 44px;
$height: 24px;
$color_checkbox_success: var(--KInputSwitchOn, var(--green-500, color(green-500)));
$transition: .2s linear;

.k-switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  .switch-control {
    position: relative;
    display: block;
    width: $width;
    height: $height;
    margin-right: 1rem;
    border-radius: 12px;
    background-color: var(--KInputSwitchBackground, var(--grey-400, color(grey-400)));
    transition: $transition;
    // Toggle
    &:after {
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--white, color(white));
      content: '';
      transition: $transition;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    .switch-control {
      opacity: .3;
      pointer-events: none;
    }
  }

  // Hide default checkbox
  input {
    display: none;
    &:checked + .switch-control {
      background-color: $color_checkbox_success;
      &:after {
        left: $width / 2;
      }
    }
  }

  span {
    color: var(--KInputSwitchLabel, var(--black-70, color(black-70)));
  }
}
