@use "@kong/design-tokens/tokens/scss/variables" as *;
@use "@/styles/vars" as *;

/* Buttons mixins */

@mixin kButtonMediumSize {
  border-radius: var(--kui-button-border-radius-medium, var(--kui-border-radius-30, $kui-border-radius-30));
  border-width: var(--kui-button-border-width-medium, var(--kui-border-width-20, $kui-border-width-20));
  font-size: var(--kui-button-font-size-medium, var(--kui-font-size-30, $kui-font-size-30));
  /* stylelint-disable-next-line @kong/design-tokens/use-proper-token */
  gap: var(--kui-button-gap-medium, var(--kui-space-30, $kui-space-30));
  line-height: var(--kui-button-line-height-medium, var(--kui-line-height-30, $kui-line-height-30));
  padding: var(--kui-button-padding-y-medium, var(--kui-space-20, $kui-space-20)) var(--kui-button-padding-x-medium, var(--kui-space-40, $kui-space-40));

  &.icon-button {
    padding: var(--kui-button-padding-y-medium, var(--kui-space-20, $kui-space-20));
  }

  // enforce icon size exported by @kong/icons because it's defined by the design system
  :deep(#{$kongponentsKongIconSelector}) {
    height: var(--kui-button-icon-size-medium, var(--kui-icon-size-40, $kui-icon-size-40)) !important;
    width: var(--kui-button-icon-size-medium, var(--kui-icon-size-40, $kui-icon-size-40)) !important;
  }
}
