/* Common mixins for all components */

@mixin truncate($lines: 0) {
  // if lines is 0, truncate with ellipsis, otherwise truncate with line clamp
  @if $lines == 0 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    overflow: hidden;
  }
}
