@use "@kong/design-tokens/tokens/scss/variables" as *;

@mixin link {
  color: var(--kui-link-color-text, var(--kui-color-text-primary, $kui-color-text-primary));
  font-size: inherit;
  outline: none;
  text-decoration: var(--kui-link-text-decoration, none);
  transition: color $kongponentsTransitionDurTimingFunc ease-in-out, text-decoration $kongponentsTransitionDurTimingFunc ease-in-out;

  &:hover {
    color: var(--kui-link-color-text-hover, var(--kui-color-text-primary-strong, $kui-color-text-primary-strong));
    text-decoration: var(--kui-link-text-decoration-hover, none);
  }

  &:focus-visible {
    box-shadow: var(--kui-link-shadow-focus, var(--kui-shadow-focus, $kui-shadow-focus));
    color: var(--kui-link-color-text-hover, var(--kui-color-text-primary-strong, $kui-color-text-primary-strong));
    text-decoration: var(--kui-link-text-decoration-hover, none);
  }

  &:active {
    color: var(--kui-link-color-text-active, var(--kui-color-text-primary-strongest, $kui-color-text-primary-strongest));
  }
}
