@import "variables";

/* Regular (Sans) Font Sizes
========================================================================== */
// For each size in the $type-sizes variable
// Create class (.xxl)
@each $name, $size in $type-sizes {
  .#{$name} {
    font-size: var(--type-#{$name});
    font-weight: normal;
  }
}

/* Mono Font Sizes
========================================================================== */
.mono {
  font-family: var(--font-family-mono);
}
// For each size in the $type-sizes variable
// Create class (.mono.xxl)
@each $name, $size in $type-sizes {
  .mono.#{$name} {
    font-size: calc(var(--type-#{$name}) * .95);
  }
}


