$colors: (
  blue-lightest: hsla(205, 100%, 98%, 1),
  blue-light-01: hsla(205, 100%, 82%, 1),
  blue-light: hsla(205, 100%, 72%, 1),
  blue-base: hsla(205, 100%, 46%, 1),
  blue-link: hsla(205, 80%, 45%, 1),

  red-lightest: hsla(0, 100%, 98%, 1),
  red-light-01: hsla(0, 90%, 82%, 1),
  red-light: hsla(0, 85%, 70%, 1),
  red-base: hsla(0, 80%, 50%, 1),
  red-link: hsla(0, 80%, 45%, 1),

  green-base: hsla(145, 45%, 45%, 1),
  yellow-base: hsla(45, 100%, 70%, 1),

  tblack-85: hsla(0, 0%, 0%, .85),
  tblack-70: hsla(0, 0%, 0%, .70),
  tblack-45: hsla(0, 0%, 0%, .45),
  tblack-25: hsla(0, 0%, 0%, .25),

  grey-88: hsla(0, 0%, 88%, 1),
  grey-98: hsla(0, 0%, 98%, 1),

  twhite-75: hsla(100, 100%, 100%, .75),
  twhite-50: hsla(100, 100%, 100%, .5),
  twhite-1: hsla(100, 100%, 100%, 1)
);
$spacing: (
  xxs: 4,
  xs: 8,
  sm: 12,
  md: 16,
  lg: 24,
  xl: 32,
  xxl: 48
);
$type-sizes: (
  xxxl: 32px,
  xxl: 28px,
  xl: 22px,
  lg: 18px,
  md: 16px,
  sm: 14px,
  xs: 12px
);
$fonts: (
  sans: 'Roboto',
  mono: 'Roboto Mono'
);
