name: PR Audit
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled

  pull_request_review:
    types:
      - submitted
      - edited
      - dismissed

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  pr-audit:
    name: Audit
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      GITHUB_TOKEN: ${{  secrets.KONGPONENTS_BOT_PAT }}

    steps:

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup PNPM with Dependencies
        uses: ./.github/actions/setup-pnpm-with-dependencies/

      - name: PR Audit
        if: github.actor != 'renovate[bot]'
        uses: Kong/public-shared-actions/pr-previews/audit@main
        with:
          renovate-pr-author: renovate[bot]
