name: PR Audit
on:
  pull_request:
    branches:
      - main

  pull_request_review:
    types:
      - submitted
      - edited
      - dismissed

jobs:
  pr-audit:
    name: Audit
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      GITHUB_TOKEN: ${{  secrets.KONGPONENTS_BOT_PAT }}

    steps:

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Setup PNPM with Dependencies
        uses: ./.github/actions/setup-pnpm-with-dependencies/

      - name: PR Audit
        uses: Kong/public-shared-actions/pr-previews/audit@feat/KHCP-18541_pr-audit-2
        with:
          renovate-pr-author: renovate[bot]
